body {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
              url('/Practica Final Desarrollo/Assets/Pictures/perrito_fondo.jpeg') center/cover fixed;
  margin: 0;
  min-height: 100vh;
}

.navbar {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
  background: rgba(0, 0, 0, 0.25); /* negro muy transparente */
  backdrop-filter: blur(30px);     /* difuminado suave */
  padding: 12px 24px;
  border-radius: 100px;
}

.navbar .navbar-brand {
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: var(--primary-font-bold);
  font-size: 16px;
  color: #FAF5E9;
  text-decoration: none;
  margin-left: 25px;
  transition: 0.3s;
  position: relative;
}

.navbar .navbar-brand:hover {
  color: #FFD166;
  transform: scale(1.05);
}

.navbar .navbar-brand::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  width: 100%;
  height: 2px;
  background: #FFD166;
  transform: translateX(-50%) scaleX(0);
  transition: 0.3s;
}

.navbar .navbar-brand:hover::after {
  transform: translateX(-50%) scaleX(1);
}

.navbar .navbar-brand img {
  width: 28px;
  height: 28px;
  filter: brightness(0) invert(1);
  transition: 0.3s;
}

.navbar .navbar-brand:hover img {
  filter: brightness(1.2) sepia(1) hue-rotate(10deg) saturate(2);
}
