body {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.4), 
      rgba(0, 0, 0, 0.4)
    ),
    url('/Practica Final Desarrollo/Assets/Pictures/golden_fondo.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
  margin: 0;
  min-height: 100vh;
}